<div id="<%= dom_id calendar_tracking %>">
  <p>
    <strong>Day:</strong>
    <%= calendar_tracking.day %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= calendar_tracking.hour %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= calendar_tracking.comments %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= calendar_tracking.action %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= calendar_tracking.calendar_id %>
  </p>

  <p>
    <strong>Type customer:</strong>
    <%= calendar_tracking.type_customer %>
  </p>

  <p>
    <strong>Type scheduled:</strong>
    <%= calendar_tracking.type_scheduled %>
  </p>

  <p>
    <strong>Agent:</strong>
    <%= calendar_tracking.agent_id %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= calendar_tracking.observation %>
  </p>

  <p>
    <strong>Stated at:</strong>
    <%= calendar_tracking.stated_at %>
  </p>

</div>
