<div id="<%= dom_id calendar %>">
  <p>
    <strong>Company:</strong>
    <%= calendar.company %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= calendar.contact %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= calendar.job_title %>
  </p>

  <p>
    <strong>Type customer:</strong>
    <%= calendar.type_customer %>
  </p>

  <p>
    <strong>Type scheduled:</strong>
    <%= calendar.type_scheduled %>
  </p>

  <p>
    <strong>Assigned by:</strong>
    <%= calendar.assigned_by_id %>
  </p>

  <p>
    <strong>Agent:</strong>
    <%= calendar.agent_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= calendar.day %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= calendar.hour %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= calendar.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= calendar.phone %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= calendar.observation %>
  </p>

  <p>
    <strong>Stated at:</strong>
    <%= calendar.stated_at %>
  </p>

</div>
