<div id="<%= dom_id product %>">
  <p>
    <strong>Code:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Name of:</strong>
    <%= product.name_of %>
  </p>

  <p>
    <strong>Type product:</strong>
    <%= product.type_product %>
  </p>

  <p>
    <strong>User:</strong>
    <%= product.user_id %>
  </p>

  <p>
    <strong>Stated at:</strong>
    <%= product.stated_at %>
  </p>

</div>
